<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
  <h3>欢迎来到下载页面</h3>
  <a href="/getDownload">下载内容</a>
</body>
</html>